/* We're working with the body tag, and so with the WHOLE page */

.pic{
  position: relative;
  display: inline-block; /* Make the width of box same as image */
  width: 100%;
}
.text{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

h1 {
  text-align: center; 
  font-size: 50px;
  color: black;
  background: #fff; /* fallback color for old browsers */background: rgba(255, 255, 255, 0.3);
  padding: 10px;
}

h2 {
  text-align: center; 
  font-size: 20px;
    padding: 10px;
  width: 100;
  height: 10;
  
}


ul {
  list-style-type: none;
    margin: 0;
  padding: 0;
  overflow: hidden;
  background-color:black;
    font-size: 12px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    color: white
  ;
}


li {
  float: left;
  border-right: 2px solid pink;
  display: block;
  background-color: black;
  color: white;
  text-align: center;
  text-decoration: none;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li:last-child {
  border-right: none;
}


li a:hover {
  background-color:pink;
  
}

body
{
    background-color: black; /* The page background will be black */
    color: white; /* The page text will be white */
    font-family: Arial, Helvetica, sans-serif;

}





.Beaches1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  
}
.gallery img {
  max-width: 600px;
  max-height: 400px;
  padding: 30px;
  border-radius: 20%;
  border:1px solid white;
  }
 
  
}

.Beaches2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.desc {
  text-align: center;
  padding: 15px;
  font: 30px;
}

.webcam {
  text-align: center;
  padding: 15px;
}



.tide {
  text-align: center; 
  font-size: 50px;
  color: black;
  background: #fff; /* fallback color for old browsers */background: rgba(255, 255, 255, 0.3);
  padding: 20px;
  height: 80px;
}

button {

  padding: 15px 25px;
  font-size: 20px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #aea9e2;
  border: none;
  border-radius: 15px;
  width: 200px;
  height: 50px;
  box-shadow: 0 9px #999;
}

button:hover {background-color: cornflowerblue}

button:active {
  background-color: cornflowerblue;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
